*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Comic sans MS', sans-serif;
  background: #edf5e1;
}
header{
  background: #8ee41f;
  padding: 20px;
  color: #0c0032;
  text-align: center;
}
.score-board{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px ;
  padding: 10px;
}
.computer-score , .user-score, .ties-score{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
  color: #0c0032;
}
.result, #finalGames, #finalWins, #finalLosses, #finalTies{
  margin: 30px;
  color: #0c0032;
  text-align: center;
  font-size: 25px;
}
.options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 500px;
}
.option img{
  padding: 10px 10px;
  max-width: 110px;
  border: 3px solid #379683;
  border-radius: 25%;
}
#s img{
  transform: rotate(-90deg);
  min-width: 110px;
  min-height: 110px;
  object-fit: scale-down;
}
.option:hover{
  cursor: pointer;
  background: #379683;
  border-radius: 25%;
}
#action-msg{
  text-align: center;
  color: #0c0032;
  font-size: 25px;
  font-weight: bold;
}